<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey Index</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>
    {% block main %}
    <main>
        <h1 class="main-heading">Dojo Survey</h1>
        <form action="/result" method="POST">

            <label for="name">Your Name:</label>
            <input type="text" id="name" name="name" required>
            <br>
            <label for="location">Dojo Location</label>
            <select id="location" name="location" >
                <option value="Chicago">Chicago</option>
                <option value="Dallas">Dallas</option>
                <option value="Los Angeles">Los Angeles</option>
                <option value="San Jose">San Jose</option>
                <option value="Seattle">Seattle</option>
            </select>
            
            <label for="fav-language">Favorite Language:</label>
            <select id="fav-language" name="fav-language">
                <option value="Python">Python</option>
                <option value="Javascript">Javascript</option>
                <option value="Java">Java</option>
            </select>
            
            <p class="questions">What bootcamp did you attend to?</p>
            <input type="radio" name="type-bootcamp" id="full-stack" value="Full Stack">
            <label for="full-stack" class="radio-options">Full Stack</label>
            <input type="radio" name="type-bootcamp" id="data-science" value="Data Science">
            <label for="data-science" class="radio-options">Data Science</label>
            
            <p class="questions">What languages do you master?</p>
            <input type="checkbox" name="master-languages" value="Python"> Python <br/>
            <input type="checkbox" name="master-languages" value="Javascript">Javascript<br/>
            <input type="checkbox" name="master-languages" value="Java">Java<br/>
            
            <label for="comment" class="questions">Comment (optional)</label>
            <textarea name="comment" id="comment" cols="40" rows="10"></textarea>

            <input type="submit" value="Submit">
        </form>
        
    </main>
    {% endblock %}
</body>
</html>